@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

/** Aplicando la fuente importada y reduciendo el margin y padding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

/* body{
    background: #1D212B;
} */

/** LOGOTIPO */
.logotipo {
    width: 50px;
    height: 50px;
}

/** BACKGROUND VIDEO */
.section-first-panel {
    height:100vh;
    display:flex;
    align-items:center;
    color:#fff;
}

.panel{
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    /* text-align:center; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container-video {
    position:absolute;
    /**Para que me permite observar el HEADER NAV*/
    top:1;
    left:0;
    width:100%;
    height:100vh;
    /** esto me permite */
    overflow:hidden;
}

.container-video video {
    min-height:100%;
    min-width:100%;
}

.first-panel {
    z-index: 2;
}

/** Imagenes que acompañan a la presentación de index.html */
.index-presentation {
    height:auto;
    width: 370px;
}

/** SECTION PART */
.section-pair-panel, .section-unpair-panel {
    padding: 50px;
    height: 600px;
}

.section-pair-panel {
    background:#225470;
}

.section-unpair-panel {
    background:#333;
    color:#fff;
}

@media(max-width:760px){
    .panel{
        font-size: 10px;
    }
    .panel img {
        max-width: 100%;
        height: auto;

    }
}

@media(min-width:300px){
    .panel img {
        max-width: 70%;
        height: auto;
    }
}



/* <!--SECTIONS-->
<section class="article-first-panel">

    <div class="panel first-panel">
    <!--Primer mensaje del index.html-->
        <h2>LOS MEJORES SABORES DESDE LUGARES MÁS RECONDITOS DEL UNIVERSO</h2>
        <!--Imagen que acompaña al h2-->
        <img src="" alt="">
    </div>

</section>

    <!--ARTICLE-->
<section class="article-second-panel">

    <div class="panel second-panel">
    
        <!--Imagen que acompaña al h2-->
        <img src="" alt="">

        <!--Primer mensaje Panel 2del index.html-->
        <h2>LOS MEJORES SABORES DESDE LUGARES MÁS RECONDITOS DEL UNIVERSO</h2>

    </div>

</section>

<!--ARTICLE-->
<section class="article-third-panel">

    <div class="panel third-panel">
        <!--Primer mensaje del index.html-->
        <h2>LOS MEJORES SABORES DESDE LUGARES MÁS RECONDITOS DEL UNIVERSO</h2>
        <!--Imagen que acompaña al h2-->
        <img src="" alt="">
    </div>

</section>

<!--ARTICLE-->
<section class="article-fourth-panel">

    <div class="panel fourth-panel">
        <!--Imagen que acompaña al h2-->
        <img src="" alt="">
        <!--Primer mensaje del index.html-->
        <h2>LOS MEJORES SABORES DESDE LUGARES MÁS RECONDITOS DEL UNIVERSO</h2>
    </div>

</section> */