@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

/** Aplicando la fuente importada y reduciendo el margin y padding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

/* body{
    background: #1D212B;
} */

/** ******************************************/

/** HEADER - NAV */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    width: 100%;
}

/** Class Titulo con Logotipo */
.titulo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulo h1 {
    padding: 20px;
    color: #edf0f1;
    font-size: 40px;
}

/* .logotipo {
    border-radius: 10px;
    width: auto;
    height: auto;
} */

/** Si el tamaño de la página es menor a 700px, colocame más pequeño el logotipo y el h1 */
@media(max-width:700px){
    .titulo h1 {
        font-size: 20px;
        padding-right: 20px;
    }
    /* .logotipo {
        border-radius: none;
        width: 150px;
        height: 150px;
    } */
}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    border-radius: 3px;
}

/** Si pasas el mouse por algún enlace del NAV, se sombrea*/
li a:hover {
    background: #8b9194;
    transition: .5s;
    padding: 6px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 0px 20px;
}


/** LOGOTIPO */
.logotipo {
    width: 90px;
    height: 90px;
    cursor: pointer;
    margin-right: auto;
}


/** ******************************************/

/** EN EL CASO DE QUE EL TAMAÑO DE LA PANTALLA SE REDUZCA, MEDIANTE @media
** COLOCAME EL NAV EN UN "hamburguer NAV"
*/




.line{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
}


label #btn, label #cancel {
    display: none;
    color: white;
    float: right;
    margin-right: 40px;
    cursor: pointer;

}

#check {
    display: none;
}

@media screen and (max-width:800px) {

    header {
        position: fixed;
        top: 0;
    }

    label #btn {
        display: block;
    }


    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #225470;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }

    #check:checked ~ label #cancel img {
        height: 80px;
        width: 110px;
    }


}


/** ******************************************/


/** BACKGROUND VIDEO */
.section-first-panel {
    height:100vh;
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    color:#fff;
}


.panel{
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.panel img {
    padding: 11px;
    border-radius: 40px;
}

.panel h2 {
    padding: 30px;
}


.container-video {
    position:absolute;
    /**Para que me permite observar el HEADER NAV*/
    top:1;
    left:0;
    width:100%;
    height:100vh;
    /** esto me permite */
    overflow:hidden;
}

.container-video video {
    min-height:100%;
    min-width:100%;
}

.first-panel {
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/** Imagenes que acompañan a la presentación de index.html */
.index-presentation {
    height:auto;
    width: 370px;
}

/** ******************************************/

/** SECTION PART */
.section-pair-panel, .section-unpair-panel {
    padding: 50px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-pair-panel {
    background:#225470;
}

.section-unpair-panel {
    background:#333;
    color:#fff;
}

@media(max-width:760px){
    .panel{
        font-size: 10px;
    }
    .panel img {
        max-width: 100%;
        height: auto;

    }
}

@media(min-width:300px){
    .panel img {
        max-width: 70%;
        height: auto;
    }
}

/** ******************************************/

/** IMAGEN INTERMEDIA ENTRE SECTIONS SCROLLING */
.img-scroll {
    min-height: 400%;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 50px;
    height: 300px;
}

.img-scrolling1 {
    background-image: url('../resources/img/index/food_planets.jpg');
}

.img-scrolling2 {
    background-image: url('../resources/img/index/cosecha.jpg')
}

.img-scrolling3 {
    background-image: url('../resources/img/index/space_around.jpg');
}

.img-scrolling4 {
    background-image: url('../resources/img/index/space_planets_minimalist.jpg');
}

/** *******************************************/


/** FOOTER */
/** *******************************************/

footer {
    /* position: absolute; */
    /* left:0px; */
    /* bottom: 0px; */
    width: 100%;
    /* padding-right: 200px; */
    background: #225470;
}

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 0px;
}

.main-content .box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 0px;
}

/** REDES SOCIALES ICONOS */
/** *******************************************/
footer .redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .redes-sociales ul {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer .redes-sociales ul li {
    list-style: none;
    margin: 0 10px;
    height: 60px;
}


footer .redes-sociales ul li a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

footer .redes-sociales ul li a {
    /* position: relative; */
    /** Display flexbox para acomodar las imagenes de las redes sociales dentro del circulo blanco*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    /* text-align: center; */
    transition: 0.5s;
    transform: translate(0,0);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
footer .redes-sociales ul li a:hover {
    /* transform: rotate(0deg) skew(0deg) translate(0, -10px); */
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}


/** FACEBOOK color */
footer .redes-sociales ul li:nth-child(1) a:hover {
    background-color: #3B5999;
}
/** TWITTER color */
footer .redes-sociales ul li:nth-child(2) a:hover {
    background-color: #55ACEE;
}
/** INSTAGRAM color */
footer .redes-sociales ul li:nth-child(3) a:hover {
    background-color: #E4405F;
}


/** *******************************************/
/** FOOTER-DATOS */

footer .footer-datos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
footer .footer-datos h3 {
    color: white;
    font-size: 20px;
    padding-bottom: 18px;
}

footer .footer-datos ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

footer .footer-datos ul li {
    list-style: none;
    padding-bottom: 15px;
    padding-left: 10px;
}
footer .footer-datos ul li a{
    color: #FFFFFF;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
}
footer .footer-datos ul li a:hover {
        background: #8B9194;
        transition: .5s;
        border-radius: 20px;
}


/** ******************************************/
/** LOGITIPO DIV - IMG */
footer .footer-logotipo {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-logotipo img {
    border-radius: 60px;
    width: 100px;
    height: 100px;
}

/** ******************************************/

/** SI LA MAXIMA ANCHURA DE LA PANTALLA ES 900PX */
@media screen and (max-width:790px) {


    /** El footer se vuelve flex-direction: column;*/
    .main-content {
        justify-content: space-around;
        align-items: center;
    }

    .main-content .box {
        flex-basis: 30%;
        padding: 10px 10px;
        width: 50%;
    }
    
    /** icono redes sociales más pequeños*/
    footer .redes-sociales {
        display: none;
    }

    /** Cuando la pantalla tenga este tamallo, no muestres el logo*/
    footer .footer-logotipo{
        width: 100%;
        height: auto;
    }

}
