<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calidad</title>
    <link rel="stylesheet" href="css/calidad.css">
    <link rel="shortcut icon"  type="image/svg" href="resources/svg/logo.svg">
</head>
<body>

    <!--HEADER-->
    <header class="header-index">
        <!--Enlace para Titulo y Logotipo-->
    
        <a href="index.html" class="titulo">
            <img class="logotipo" src="resources/img/calidad/logo.png" alt="">

            <h1>
                JummyFood
            </h1>

        </a>

        <!--Burguer ICON para cuando el nav sea responsive, los enlaces se introduzcan aquí-->
        <!-- <div class="burguer-nav"> -->
            <!-- <input type="checkbox" id="nav-toggle" class="nav-toggle"> -->
        <!-- </div> -->

        <!--NAV-->
        <nav>

            <input type="checkbox" id="check">
            <label for="check">
                <div id="btn">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>

                <div id="cancel">
                    <img src="resources/svg/simbolo_eliminar_44.svg" alt="">
                </div>
            </label>

            <ul class="nav-ul">

                <li>
                    <a href="https://mateogarciag.github.io/Project-dual-website/menu.html">Menús</a>
                </li>

                <li>
                    <a href="https://mateogarciag.github.io/Project-dual-website/calidad.html">Calidad</a>
                </li>

                <li>
                    <a href="https://mateogarciag.github.io/Project-dual-website/contactos.html">Contacto</a>
                </li>

            </ul>

        </nav>

        <!-- <label for="nav-toggle" class="nav-toggle-label">
            <span>
                <img src="../resources/svg/escritoriomenu_icono2.ico" alt="">
            </span>
        </label> -->
    
    
    </header>

    <!--IMAGEN DE FONDO SCROLLING-->
    <!-- <div class="img-scroll img-scrolling1">

    </div> -->

    <section>

        <!--IMAGEN DE FONDO SCROLLING SECTION-->
        <div class="img-scroll-section">
            <div class="main-logotipo">
                <img src="resources/img/calidad/logoJummyFood.JPG"  class="img-scroll-logotipo" alt="">
            </div>
    
            <div class="section-titulo">
                <h2>NUESTROS 5 MENÚS ESTRELLAS, ESCOGE EL QUE TE GUSTE Y DESCUBRIRAS LO MEJOR DEL UNIVERSO</h2>
            </div>
        </div>

            <ul class="section-ul">
                <li class="section-ul-il">
                    <div class="tamanyo-imagen"></div>

                    <div class="section-description-calidad">
                        <h3 class="titulo-menu">
                            MENÚ:
                        </h3>
                        <p class="descripcion-menu">
                            Desde los rincones más profundos del espacio, este menú está hecho de
                        </p>

                        <p class="precio">
                            PRECIO: 10.00$
                        </p>

                        <p class="ingredientes-menu">
                            Ingredientes:
                            <ul>
                                <li>Carne de Marte</li>
                                <li>Lechuga de Jupiter</li>
                                <li>Tomate de Pluton</li>
                            </ul>
                        </p>

                        <p class="tipo-menu">
                            Comida Chatarra
                        </p>

                        <input type="hidden" id="stock-menu" value="30">

                        <button class="section-calidad-boton">
                            <a href="https://mateogarciag.github.io/Project-dual-website/compra.html">PEDIR</a>
                        </button>
                    </div>
                </li>
                <li class="section-ul-il">
                    <!-- <img src="../resources/img/calidad/calidad1.png" alt=""> -->

                    <div class="tamanyo-imagen"></div>
                    
                    <div class="section-description-calidad">
                        <h3 class="titulo-menu">
                            MENÚ:
                        </h3>
                        <p class="descripcion-menu">
                            Desde los rincones más profundos del espacio, este menú está hecho de
                        </p>

                        <p class="precio">
                            PRECIO: 13.00$
                        </p>

                        <p class="ingredientes-menu">
                            Ingredientes:
                            <ul>
                                <li>Carne de Marte</li>
                                <li>Lechuga de Jupiter</li>
                                <li>Tomate de Pluton</li>
                            </ul>
                        </p>

                        <p class="tipo-menu">
                            Comida Chatarra
                        </p>

                        <input type="hidden" id="stock-menu" value="30">

                        <button class="section-calidad-boton">
                            <a href="https://mateogarciag.github.io/Project-dual-website/compra.html">PEDIR</a>
                        </button>
                    </div>
                </li>
                <li class="section-ul-il">
                    <!-- <img src="../resources/img/calidad/calidad1.png" alt=""> -->

                    <div class="tamanyo-imagen"></div>

                    <div class="section-description-calidad">
                        <h3 class="titulo-menu">
                            MENÚ:
                        </h3>
                        <p class="descripcion-menu">
                            Desde los rincones más profundos del espacio, este menú está hecho de
                        </p>

                        <p class="precio">
                            PRECIO: 7.99$
                        </p>

                        <p class="ingredientes-menu">
                            Ingredientes:
                            <ul>
                                <li>Carne de Marte</li>
                                <li>Lechuga de Jupiter</li>
                                <li>Tomate de Pluton</li>
                            </ul>
                        </p>

                        <p class="tipo-menu">
                            Comida Chatarra
                        </p>

                        <input type="hidden" id="stock-menu" value="30">

                        <button class="section-calidad-boton">
                            <a href="https://mateogarciag.github.io/Project-dual-website/compra.html">PEDIR</a>
                        </button>
                    </div>
                </li>
                <li class="section-ul-il">
                    <!-- <img src="../resources/img/calidad/calidad1.png" alt=""> -->

                    <div class="tamanyo-imagen"></div>

                    <div class="section-description-calidad">

                        <h3 class="titulo-menu">
                            MENÚ:
                        </h3>
                        <p class="descripcion-menu">
                            Desde los rincones más profundos del espacio, este menú está hecho de
                        </p>

                        <p class="precio">
                            PRECIO: 8.00$
                        </p>

                        <p class="ingredientes-menu">
                            Ingredientes:
                            <ul>
                                <li>Carne de Marte</li>
                                <li>Lechuga de Jupiter</li>
                                <li>Tomate de Pluton</li>
                            </ul>
                        </p>

                        <p class="tipo-menu">
                            Comida Chatarra
                        </p>

                        <input type="hidden" id="stock-menu" value="30">

                        <button class="section-calidad-boton">
                            <a href="https://mateogarciag.github.io/Project-dual-website/compra.html">PEDIR</a>
                        </button>
                    </div>
                </li>
                <li class="section-ul-il">
                    <!-- <img src="../resources/img/calidad/calidad1.png" alt=""> -->

                    <div class="tamanyo-imagen"></div>

                    <div class="section-description-calidad">
                        <h3 class="titulo-menu">
                            MENÚ:
                        </h3>
                        <p class="descripcion-menu">
                            Desde los rincones más profundos del espacio, este menú está hecho de
                        </p>

                        <p class="precio">
                            PRECIO: 63.47$
                        </p>

                        <p class="ingredientes-menu">
                            Ingredientes:
                            <ul>
                                <li>Carne de Marte</li>
                                <li>Lechuga de Jupiter</li>
                                <li>Tomate de Pluton</li>
                            </ul>
                        </p>

                        <p class="tipo-menu">
                            Comida Chatarra
                        </p>

                        <input type="hidden" id="stock-menu" value="30">

                        <button class="section-calidad-boton">
                            <a href="https://mateogarciag.github.io/Project-dual-website/compra.html">PEDIR</a>
                        </button>
                    </div>
                </li>
                <!-- <li>
                    <div class="tamanyo-imagen"></div>

                    <div class="section-description-calidad">
                        <h3>
                            MENÚ:
                        </h3>
                        <p>
                            Desde los rincones más profundos del espacio, este menú está hecho de
                        </p>
                    </div>
                </li> -->
            </ul>
    </section>

    <!--FOOTER-->
    <footer>
    
        <div class="main-content">

                <div class="redes-sociales box">
                
                    <ul>
                        <li>
                            <a href="">
                                <img class="iconos" src="resources/img/social_media/fb.png" alt="">
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <img class="iconos" src="resources/img/social_media/twitter2.png">
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <img  class="iconos" src="resources/img/social_media/instagramm.png" alt="">
                            </a>
                        </li>

                    </ul>

                </div>


                <div class="footer-datos box">
                    <h3>Lorem Ipsum</h3>
            
                    <ul>
                        <li>
                            <a href="#" alt="">Políticas de Empresa
                            </a>
                        </li>

                        <li>
                            <a href="#" alt="">Derechos de autor
                            </a>
                        </li>

                        <li>
                            <a href="#" alt="">Licencia inventada del año 2013
                            </a>
                        </li>

                        <li>
                            <a href="#" alt="">Lorem Lorem Ipsum Ipsum
                            </a>
                        </li>

                        <li>
                            <a href="#" alt="">Ipsum ipsum lorem lorem
                            </a>
                        </li>

                        <li>
                            <a href="#" alt="">Lorem Ipsum Ipsum Lorem
                            </a>
                        </li>

                    </ul>
                </div>


                <div class="footer-logotipo box">
                    <a href="#">
                    <img src="resources/img/calidad/logo_rickMorty.JPG">
                    </a>
                </div>
            
        </div>      

    </footer>
    
</body>
</html>