<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calidad</title>
    <link rel="stylesheet" href="../css/calidad.css">
    <link rel="shortcut icon"  type="image/svg" href="../resources/svg/logo.svg">
</head>
<body>

    <!--HEADER-->
    <header class="header-index">
        <!--Enlace para Titulo y Logotipo-->
    
        <a href="index.html" class="titulo">
            <img class="logotipo" src="../resources/img/logo.png" alt="">

            <h1>
                JummyFood
            </h1>

        </a>

        <!--Burguer ICON para cuando el nav sea responsive, los enlaces se introduzcan aquí-->
        <!-- <div class="burguer-nav"> -->
            <!-- <input type="checkbox" id="nav-toggle" class="nav-toggle"> -->
        <!-- </div> -->

        <!--NAV-->
        <nav>

            <input type="checkbox" id="check">
            <label for="check">
                <div id="btn">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>

                <div id="cancel">
                    <img src="../resources/svg/simbolo_eliminar_44.svg" alt="">
                </div>
            </label>

            <ul class="nav-ul">

                <li>
                    <a href="menu.html">Menús</a>
                </li>

                <li>
                    <a href="calidad.html">Calidad</a>
                </li>

                <li>
                    <a href="contactos.html">Contacto</a>
                </li>

            </ul>

        </nav>

        <!-- <label for="nav-toggle" class="nav-toggle-label">
            <span>
                <img src="../resources/svg/escritoriomenu_icono2.ico" alt="">
            </span>
        </label> -->
    
    
    </header>
    
</body>
</html>