<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>contactos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/contactos.css">
    </head>
    <body>
        <div style=></div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- <header class="header-carta"><h1></h1></header>
        <script src="" async defer></script>
        <nav class="nav-menu"></nav>
            <ul class="nav-menu-true">
                <li><a href="">Index</a></li>
                <li><a href="">Contactos</a></li>
                <li><a href="">Calidad</a></li>
            </ul>
        </nav> -->


        <header class="header-index">
            <!--Enlace para Titulo y Logotipo-->
        
            <a href="index.html" class="titulo">
                <img class="logotipo" src="../resources/img/logos/logo.png" alt="">

                <h1>
                    JummyFood
                </h1>

            </a>

            <!--Burguer ICON para cuando el nav sea responsive, los enlaces se introduzcan aquí-->
            <!-- <div class="burguer-nav"> -->
                <!-- <input type="checkbox" id="nav-toggle" class="nav-toggle"> -->
            <!-- </div> -->

            <!--NAV-->
            <nav>

                <input type="checkbox" id="check">
                <label for="check">
                    <div id="btn">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>

                    <div id="cancel">
                        <img src="../resources/img/logos/logo.png" alt="">
                    </div>
                </label>

                <ul class="nav-ul">

                    <li>
                        <a href="menu.html">Menús</a>
                    </li>

                    <li>
                        <a href="calidad.html">Calidad</a>
                    </li>

                    <li>
                        <a href="contactos.html">Contacto</a>
                    </li>

                </ul>

            </nav>

        
        </header>

        <div class="margin"></div>

        <section class="parallax">
            <div class="parallax-inner">
                <h1>CONTACTE CON NOSOTROS</h1>
            </div>
        </section>
        </div>

        <div class="margin"></div>
            <div class="panel1">
                <div class="texto">
                    <h2>LOREM IPSUM</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiu
                    smod tempor incididunt ut labore et 
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris n
                    isi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est laborum</p>
                </div>
                <img src="../resources/img/contactos/happy-alien.jpg" width="240">
                </div>
        </div>
        <div class="margin"></div>

        <section class="parallax">
            <div class="parallax-inner">
                
            </div>
        </section>
        </div>

        <div class="panel2">
            <div class="texto2">
                <h3>RESPONDEMOS CUALQUIER PREGUNTA</h3>
                <h4><a href="#">correoinventado@gmail.com</a></h4>
                <h3>LLAMENOS SI NECESITA ALGO</h3>
                <h4><a href="#">111-222-333-456</a></h4>
                <h3 class="horario">HORARIO</h3>
                    <ul class="horas">
                        <li>Lunes: 4am - 7pm</li>
                        <li>Miercoles: 12pm - 1am</li>
                        <li>Viernes: 12am - 12 pm</li>
                        <li>Domingo: 6am - 10pm</li>
                    </ul>
            </div>
            <div class="maps">
            <h4>NUESTRA LOCALIZACIÓN</h4>
            <h5>-72.230066, -98.498373</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1766204.2683257833!2d-100.497884332796!3d-72.05488080490717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smaps!5e0!3m2!1sca!2ses!4v1606190911155!5m2!1sca!2ses" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        </div>

        <!--FOOTER-->
    <footer>
    
        <div class="main-content">
                <div class="redes-sociales box">
                    <ul>
                        <li>
                            <a href="">
                                <img class="iconos" src="../resources/img/social-media/fb.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="iconos" src="../resources/img/social-media/twitter2.png">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img  class="iconos" src="../resources/img/social-media/instagram.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-datos box">
                    <h3>Lorem Ipsum</h3>
                    <ul>
                        <li>
                            <a href="#" alt="">Políticas de Empresa
                            </a>
                        </li>
                        <li>
                            <a href="#" alt="">Derechos de autor
                            </a>
                        </li>
                        <li>
                            <a href="#" alt="">Licencia inventada del año 2013
                            </a>
                        </li>
                        <li>
                            <a href="#" alt="">Lorem Lorem Ipsum Ipsum
                            </a>
                        </li>
                        <li>
                            <a href="#" alt="">Ipsum ipsum lorem lorem
                            </a>
                        </li>
                        <li>
                            <a href="#" alt="">Lorem Ipsum Ipsum Lorem
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-logotipo box">
                    <a href="#">
                    <img src="../resources/img/logos/logo_rickMorty.JPG">
                    </a>
                </div>
        </div>      
    </footer>

        
    
        

                <!--esto sirve de prueba para agregar-->
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>