<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--META type="Description" para dar una breve descripción sobre la página-->
    <meta name="description" content="Página web Index Menús Intergalacticos">
    <title>Inicio</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon"  type="image/svg" href="resources/svg/logo.svg">
</head>
<body>



    <!--MAIN-->
    <!-- <main class="main-index"> -->
        <!--Section dentro del MAIN-->
        <!-- <section>
            <div class="panel first-panel"> -->
                <!--Primer mensaje del index.html-->
                <!-- <h2>LOS MEJORES SABORES DESDE LUGARES MÁS RECONDITOS DEL UNIVERSO</h2> -->
                <!--Imagen que acompaña al h2-->
                <!-- <img src="" alt="">
            </div>
        </section>
    </main> -->


        <!--SECTIONS-->
        <section class="panel section-first-panel">

            <!--HEADER-->
            <header class="header-index">
                <!--Enlace para Titulo y Logotipo-->
            
                <a href="https://mateogarciag.github.io/Project-dual-website/index.html" class="titulo">
                    <img class="logotipo" src="resources/img/index/logo_rickMorty.JPG" alt="">

                    <h1>
                        JummyFood
                    </h1>

                </a>

                <!--Burguer ICON para cuando el nav sea responsive, los enlaces se introduzcan aquí-->
                <!-- <div class="burguer-nav"> -->
                    <!-- <input type="checkbox" id="nav-toggle" class="nav-toggle"> -->
                <!-- </div> -->

                <!--NAV-->
                <nav>

                    <input type="checkbox" id="check">
                    <label for="check">
                        <div id="btn">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>

                        <div id="cancel">
                            <img src="resources/svg/simbolo_cerrar_menu.ico" alt="">
                        </div>
                    </label>

                    <ul class="nav-ul">

                        <li>
                            <a href="https://mateogarciag.github.io/Project-dual-website/menu.html">Menús</a>
                        </li>

                        <li>
                            <a href="https://mateogarciag.github.io/Project-dual-website/calidad.html">Calidad</a>
                        </li>

                        <li>
                            <a href="https://mateogarciag.github.io/Project-dual-website/contactos.html">Contacto</a>
                        </li>

                    </ul>

                </nav>

                <!-- <label for="nav-toggle" class="nav-toggle-label">
                    <span>
                        <img src="../resources/svg/escritoriomenu_icono2.ico" alt="">
                    </span>
                </label> -->
            
            
            </header>

            <div class="container-video">
                <!--BACKGROUND VIDEO-->
                <video id="background-video" poster="background-video" autoplay muted loop>
                    <source src="resources/videos/videoplayback.mp4" type="video/mp4">
                </video>
            </div>

            

            <div class="first-panel">
            <!--Primer mensaje del index.html-->
                <h2>LOS MEJORES SABORES DESDE LUGARES MÁS RECONDITOS DEL UNIVERSO</h2>
                <!--Imagen que acompaña al h2-->
                <img src="resources/img/index/logoJummyFood.JPG"  class="index-presentation" alt="">
            </div>

        </section>

        

        <!--IMAGEN DE FONDO SCROLLING-->
        <div class="img-scroll img-scrolling1">
            
        </div>
        
            <!--ARTICLE-->
        <section class="section-pair-panel">

            <div class="panel second-panel">
            
                <!--Imagen que acompaña al h2-->
                <img src="resources/img/index/astronautaFood.JPG" class="index-presentation" alt="">

                <!--Primer mensaje Panel 2del index.html-->
                <h2>LOS MEJORES SABORES DESDE LUGARES MÁS RECONDITOS DEL UNIVERSO</h2>

            </div>

        </section>

        <!--IMAGEN DE FONDO SCROLLING-->
        <div class="img-scroll img-scrolling2">

        </div>

        <!--ARTICLE-->
        <section class="section-unpair-panel">

            <div class="panel third-panel">
                <!--Primer mensaje del index.html-->
                <h2>LOS MEJORES SABORES DESDE LUGARES MÁS RECONDITOS DEL UNIVERSO</h2>
                <!--Imagen que acompaña al h2-->
                <img src="resources/img/index/astronautaFood2.JPG" class="index-presentation" alt="">
            </div>
        
        </section>

        <!--IMAGEN DE FONDO SCROLLING-->
        <div class="img-scroll img-scrolling3">

        </div>

        <!--section-->
        <section class="section-pair-panel">

            <div class="panel fourth-panel">
                <!--Imagen que acompaña al h2-->
                <img src="resources/img/index/aliens.JPG" class="index-presentation" alt="">
                <!--Primer mensaje del index.html-->
                <h2>LOS MEJORES SABORES DESDE LUGARES MÁS RECONDITOS DEL UNIVERSO</h2>
            </div>

        </section>

        <!--IMAGEN DE FONDO SCROLLING-->
        <div class="img-scroll img-scrolling4">

        </div>


        <!--ASIDE-->
        <!-- <aside class="aside-">

            <h3></h3>
    
            <ol>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
            </ol>
    
        </aside> -->

    

    <!--FOOTER-->
    <footer>
    
        <div class="main-content">

                <div class="redes-sociales box">
                
                    <ul>
                        <li>
                            <a href="">
                                <img class="iconos" src="resources/img/social_media/fb.png" alt="">
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <img class="iconos" src="resources/img/social_media/twitter2.png">
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <img  class="iconos" src="resources/img/social_media/instagramm.png" alt="">
                            </a>
                        </li>

                    </ul>

                </div>


                <div class="footer-datos box">
                    <h3>Lorem Ipsum</h3>
            
                    <ul>
                        <li>
                            <a href="#" alt="">Políticas de Empresa
                            </a>
                        </li>

                        <li>
                            <a href="#" alt="">Derechos de autor
                            </a>
                        </li>

                        <li>
                            <a href="#" alt="">Licencia inventada del año 2013
                            </a>
                        </li>

                        <li>
                            <a href="#" alt="">Lorem Lorem Ipsum Ipsum
                            </a>
                        </li>

                        <li>
                            <a href="#" alt="">Ipsum ipsum lorem lorem
                            </a>
                        </li>

                        <li>
                            <a href="#" alt="">Lorem Ipsum Ipsum Lorem
                            </a>
                        </li>

                    </ul>
                </div>


                <div class="footer-logotipo box">
                    <a href="#">
                    <img src="resources/img/index/logo_rickMorty.JPG">
                    </a>
                </div>
            
        </div>      

    </footer>

</body>
</html>