<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--META type="Description" para dar una breve descripción sobre la página-->
    <meta name="description" content="Página web Index Menús Intergalacticos">
    <title></title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon"  type="image/png" href="../resources/img/logo.png">
</head>
<body>
    <!--HEADER-->
    <header class="header-carta">
        <h1>
            
        </h1>
    </header>

    <!-- esta A lleva-->
    <a href=""></a>

    <!--NAV-->
    <nav class="nav-carta">
        <ul>
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="">Menús</a>
            </li>
            <li>
                <a href="">Contactos</a>
            </li>
        </ul>
    </nav>

    <!--MAIN-->
    <main class="main-">
        <div class="logotipo">
            <img src="" alt="logotipo">
        </div>
        <!--Section dentro del MAIN-->
        <section>

        </section>
    </main>

    <!--SECTION-->
    <section class="section-">
        <!--ARTICLE-->
        <article class="article-">

        </article>


    </section>

        <!--ASIDE-->
        <aside class="aside-">

            <h3></h3>
    
            <ol>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
            </ol>
    
        </aside>
    

    <!--FOOTER-->
    <footer class="footer-">
        <cite>

        </cite>
    </footer>

</body>
</html>