<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--META type="Description" para dar una breve descripción sobre la página-->
    <meta name="description" content="Página web Index Menús Intergalacticos">
    <title>Inicio</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon"  type="image/svg" href="../resources/svg/logo.svg">
</head>
<body>

    <!--MAIN-->
    <!-- <main class="main-index"> -->
        <!--Section dentro del MAIN-->
        <!-- <section>
            <div class="panel first-panel"> -->
                <!--Primer mensaje del index.html-->
                <!-- <h2>LOS MEJORES SABORES DESDE LUGARES MÁS RECONDITOS DEL UNIVERSO</h2> -->
                <!--Imagen que acompaña al h2-->
                <!-- <img src="" alt="">
            </div>
        </section>
    </main> -->


        <!--SECTIONS-->
        <section class="panel section-first-panel">

            <!--HEADER-->
            <header class="header-index">
                <!--Enlace para Titulo y Logotipo-->
            
                <a href="index.html" class="titulo">
                    <img class="logotipo" src="../resources/img/logo_rickMorty.JPG" alt="">

                    <h1>
                        JummyFood
                    </h1>

                </a>

                <!--Burguer ICON para cuando el nav sea responsive, los enlaces se introduzcan aquí-->
                <!-- <div class="burguer-nav"> -->
                    <input type="checkbox" id="check-nav" class="nav-toggle">
                <!-- </div> -->

                <!--NAV-->
                <nav>

                    <ul class="nav-ul">
                        
                        
                        <div class="items">

                        <li>
                            <a href="menu.html">Menús</a>
                        </li>

                        <li>
                            <a href="calidad.html">Calidad</a>
                        </li>

                        <li>
                            <a href="contactos.html">Contacto</a>
                        </li>

                        </div>

                    </ul>

                </nav>

                <label for="check-nav" class="nav-toggle-label">
                    <span>
                        <img src="../resources/svg/escritoriomenu_icono2.ico" alt="">
                    </span>
                </label>
            
            
            </header>

            <div class="container-video">
                <!--BACKGROUND VIDEO-->
                <video id="background-video" poster="background-video" autoplay muted loop>
                    <source src="../resources/videos/videoplayback.mp4" type="video/mp4">
                </video>
            </div>

            <div class="first-panel">
            <!--Primer mensaje del index.html-->
                <h2>LOS MEJORES SABORES DESDE LUGARES MÁS RECONDITOS DEL UNIVERSO</h2>
                <!--Imagen que acompaña al h2-->
                <img src="../resources/img/logoJummyFood.JPG"  class="index-presentation" alt="">
            </div>

        </section>

        <!--IMAGEN DE FONDO SCROLLING-->
        <div class="img-scroll img-scrolling1">
            
        </div>
        
            <!--ARTICLE-->
        <section class="section-pair-panel">

            <div class="panel second-panel">
            
                <!--Imagen que acompaña al h2-->
                <img src="../resources/img/astronautaFood.JPG" class="index-presentation" alt="">

                <!--Primer mensaje Panel 2del index.html-->
                <h2>LOS MEJORES SABORES DESDE LUGARES MÁS RECONDITOS DEL UNIVERSO</h2>

            </div>

        </section>

        <!--IMAGEN DE FONDO SCROLLING-->
        <div class="img-scroll img-scrolling2">

        </div>

        <!--ARTICLE-->
        <section class="section-unpair-panel">

            <div class="panel third-panel">
                <!--Primer mensaje del index.html-->
                <h2>LOS MEJORES SABORES DESDE LUGARES MÁS RECONDITOS DEL UNIVERSO</h2>
                <!--Imagen que acompaña al h2-->
                <img src="../resources/img/astronautaFood2.JPG" class="index-presentation" alt="">
            </div>
        
        </section>

        <!--IMAGEN DE FONDO SCROLLING-->
        <div class="img-scroll img-scrolling3">

        </div>

        <!--section-->
        <section class="section-pair-panel">

            <div class="panel fourth-panel">
                <!--Imagen que acompaña al h2-->
                <img src="../resources/img/aliens.JPG" class="index-presentation" alt="">
                <!--Primer mensaje del index.html-->
                <h2>LOS MEJORES SABORES DESDE LUGARES MÁS RECONDITOS DEL UNIVERSO</h2>
            </div>

        </section>

        <!--IMAGEN DE FONDO SCROLLING-->
        <div class="img-scroll img-scrolling4">

        </div>


        <!--ASIDE-->
        <!-- <aside class="aside-">

            <h3></h3>
    
            <ol>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
            </ol>
    
        </aside> -->

    

    <!--FOOTER-->
    <footer class="footer-">
        <cite>
            
        </cite>
    </footer>

</body>
</html>