<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>carta</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/menu.css">
    </head>
    <body>
        <div style=></div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- <header class="header-carta"><h1></h1></header>
        <script src="" async defer></script>
        <nav class="nav-menu"></nav>
            <ul class="nav-menu-true">
                <li><a href="">Index</a></li>
                <li><a href="">Contactos</a></li>
                <li><a href="">Calidad</a></li>
            </ul>
        </nav> -->


        <header class="header-index">
            <!--Enlace para Titulo y Logotipo-->
        
            <a href="index.html" class="titulo">
                <img class="logotipo" src="resources/img/logos/logo.png" alt="">

                <h1>
                    JummyFood
                </h1>

            </a>

            <!--Burguer ICON para cuando el nav sea responsive, los enlaces se introduzcan aquí-->
            <!-- <div class="burguer-nav"> -->
                <!-- <input type="checkbox" id="nav-toggle" class="nav-toggle"> -->
            <!-- </div> -->

            <!--NAV-->
            <nav>

                <input type="checkbox" id="check">
                <label for="check">
                    <div id="btn">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>

                    <div id="cancel">
                        <img src="resources/svg/simbolo_cerrar_menu.ico" alt="">
                    </div>
                </label>

                <ul class="nav-ul">

                    <li>
                        <a href="https://mateogarciag.github.io/Project-dual-website/menu.html">Menús</a>
                    </li>

                    <li>
                        <a href="https://mateogarciag.github.io/Project-dual-website/calidad.html">Calidad</a>
                    </li>

                    <li>
                        <a href="https://mateogarciag.github.io/Project-dual-website/contactos.html">Contacto</a>
                    </li>

                </ul>

            </nav>

        
        </header>
    
    <section>

    <div class="all-images">
        <div class="p-menu"> <!--meto las 9 imagenes aqui porque no se donde coño meterlas sino-->
            <div class="card">
                <div class="card-contenido">
                    <img class="imagenes-menu1" src="resources\img\menu\comida1.png" width="220" height="180">
                    <div class="contenidor">
                        <button class="section-calidad-boton">
                            <a href="https://mateogarciag.github.io/Project-dual-website/comida1.html">PEDIR</a>
                        </button>
                    </div>
                </div>
            </div>
                
            <div class="card">
                <div class="card-contenido">
                    <img class="imagenes-menu1" src="resources\img\menu\comida2.png" width="220" height="180">
                    <div class="contenidor">
                        <button class="section-calidad-boton">
                            <a href="https://mateogarciag.github.io/Project-dual-website/comida2.html">PEDIR</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-contenido">
                    <img class="imagenes-menu1" src="resources\img\menu\comida3.png" width="220" height="180">
                    <div class="contenidor">
                        <button class="section-calidad-boton">
                            <a href="https://mateogarciag.github.io/Project-dual-website/comida3.html">PEDIR</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--****************************************************************************************************************************-->
    <div class="all-images">
        <div class="p-menu2"> 
            <div class="card">
                <div class="card-contenido">
                    <img class="imagenes-menu1" src="resources\img\menu\comida4.png" width="220" height="180">
                    <div class="contenidor">
                        <button class="section-calidad-boton">
                            <a href="https://mateogarciag.github.io/Project-dual-website/comida4.html">PEDIR</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-contenido">
                    <img class="imagenes-menu1" src="resources\img\menu\comida5.png" width="220" height="180">
                    <div class="contenidor">
                        <button class="section-calidad-boton">
                            <a href="https://mateogarciag.github.io/Project-dual-website/comida5.html">PEDIR</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-contenido">
                    <img class="imagenes-menu1" src="resources\img\menu\comida6.png" width="220" height="180">
                    <div class="contenidor">
                        <button class="section-calidad-boton">
                            <a href="https://mateogarciag.github.io/Project-dual-website/comida6.html">PEDIR</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--*****************************************************************-->

    <div class="all-images">
        <div class="p-menu3"> 
            <div class="card">
                <div class="card-contenido">
                    <img class="imagenes-menu1" src="resources\img\menu\comida7.png" width="220" height="180">
                    <div class="contenidor">
                        <button class="section-calidad-boton">
                            <a href="https://mateogarciag.github.io/Project-dual-website/comida7.html">PEDIR</a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-contenido">
                    <img class="imagenes-menu1" src="resources\img\menu\comida8.png" width="220" height="180">
                    <div class="contenidor">
                        <button class="section-calidad-boton">
                            <a href="https://mateogarciag.github.io/Project-dual-website/comida8.html">PEDIR</a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-contenido">
                    <img class="imagenes-menu1" src="resources\img\menu\comida9.png" width="220" height="180">
                    <div class="contenidor">
                        <button class="section-calidad-boton">
                            <a href="https://mateogarciag.github.io/Project-dual-website/comida9.html">PEDIR</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>

    <!--FOOTER-->
    <footer>
    
        <div class="main-content">
                <div class="redes-sociales box">
                    <ul>
                        <li>
                            <a href="">
                                <img class="iconos" src="resources/img/media-social/fb.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="iconos" src="resources/img/media-social/twitter2.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img  class="iconos" src="resources/img/media-social/instagramm.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-datos box">
                    <h3>Lorem Ipsum</h3>
                    <ul>
                        <li>
                            <a href="#" alt="">Políticas de Empresa
                            </a>
                        </li>
                        <li>
                            <a href="#" alt="">Derechos de autor
                            </a>
                        </li>
                        <li>
                            <a href="#" alt="">Licencia inventada del año 2013
                            </a>
                        </li>
                        <li>
                            <a href="#" alt="">Lorem Lorem Ipsum Ipsum
                            </a>
                        </li>
                        <li>
                            <a href="#" alt="">Ipsum ipsum lorem lorem
                            </a>
                        </li>
                        <li>
                            <a href="#" alt="">Lorem Ipsum Ipsum Lorem
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-logotipo box">
                    <a href="#">
                    <img src="resources/img/logos/logo_rickMorty.JPG">
                    </a>
                </div>
        </div>      
    </footer>
</body>
</html>